.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E3351;
    height: 250px;
}

.footer img {
    margin-right: 2.5rem;
}

.footer-links {
    color: white;
    display: flex;
    padding-left: 2.5rem;
    border-left: solid 0.1rem white;
}

.footer-links p {
    font-weight: bold;
    padding: 0;
    margin: 0 0 0.5rem 0;
}

.footer-links-artistas {
    margin-right: 2.5rem;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0
}