button[aria-pressed="true"] > .fa-heart-o{
    display: none;
}

button[aria-pressed="false"] > .fa-heart{
    display: none;
}

.fa-heart{
    color: crimson;
}

ul{
    list-style: none;
    padding: 0;
}

.link-hover:hover {
    opacity: 0.7;
}

.register-button{
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #e96724;
    color: #fff;
    border: 2px solid #e96724;
}

.register-button:hover {
    background-color: #fff;
    color: #2d2d2d;
    border: 2px solid #e96724;
}