.categories-buttons-container {
    border: none;
}

.categories-options {
    display: flex;
}

.option {
    margin-right: 1rem;
}

.subcategories-options {
    display: flex;
    flex-wrap: wrap;
}

.categories-legend {
    margin-top: 2rem;
}