.login-button{
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #e96724;
    color: #fff;
    border: 2px solid #e96724;
}

.login-button:hover {
    background-color: #fff;
    color: #2d2d2d;
    border: 2px solid #e96724;
}

.login-error{
    color: red;
}