.signup-page-container {
    background-color: white;
    border-radius: 1rem;
    margin: 15px auto 15px auto;
    padding: 2rem;
    width: 700px;
    display: flex;
    flex-direction: column;
}

.signup-page-container h1 {
    text-align: center;
    color:#e96724
}

.role-input-container {
    border: none;
    margin: 1rem auto 1rem auto;
}

.role-input-container legend {
    color:#e96724;
    font-weight: bold;
}

.role-options {
    display: flex;
    margin-top: 1rem;
}

.register-button{
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #e96724;
    color: #fff;
    border: 2px solid #e96724;
}

.register-button:hover {
    background-color: #fff;
    color: #2d2d2d;
    border: 2px solid #e96724;
}

.register-error{
    color: red;
    font-size: 0.8rem;
    margin: 5px;
}

.border-error{
    border: solid 1px red;
}