.register-button{
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #e96724;
    color: #fff;
    border: 2px solid #e96724;
}

.register-button:hover {
    background-color: #fff;
    color: #2d2d2d;
    border: 2px solid #e96724;
}

.register-error{
    color: red;
    font-size: 0.8rem;
    margin: 5px;
}

.border-error{
    border: solid 1px red;
}